@use "index/index";

*,
::after,
::before {
    @include index.resetSettings;
}

html {
    @include index.setHTML;
}

body {
    @include index.setBody;
}

.container {
    @include index.setContainer;
}

.nav--container {
    @include index.setNavContainer;
}

.header {
    height: auto;
    padding-top: 0.1px;
    background-image: index.$header-bgColor;

    &:target .header__nav .nav__container .logo__link .logo__title {
        color: index.$activeColor;
    }

    .header__nav {
        background-color: rgba(0, 0, 0, 0.75);
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        .nav__container {
            height: index.$heightNavDesk;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: index.$roboto;

            .logo__link {
                text-decoration: none;

                .logo__title {
                    color: white;
                    font-size: index.$roboto24;
                    font-weight: index.$robotoW500;
                }

            }

            .nav__menu {

                .nav__list {
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 20px;

                    .nav__link {
                        color: white;
                        text-decoration: none;
                        font-weight: index.$robotoW400;
                        font-size: index.$roboto16;
                    }

                    &:last-child {
                        padding: 10px 30px;
                        border-radius: 20px;
                        @include index.buttonEffect;

                        .nav__link {
                            color: black;
                        }

                        &::after {
                            display: none;
                        }

                    }

                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: index.$activeColor;
                        margin-top: 10px;
                        transform: scale(0);
                        transform-origin: center;
                        transition: 200ms transform ease-in-out;
                    }

                    &:hover {

                        &::after {
                            transform: scale(1);
                            transform-origin: center;
                            transition: 200ms transform ease-in-out;
                        }

                        .nav__link:not(.nav__link[href="#contacto"]) {
                            color: index.$activeColor;
                        }

                    }

                }

            }

        }

    }

    .header__container {
        @include index.setHeightMarginTop;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: index.$roboto;
        color: white;

        .header__content {
            width: 50%;

            .header__greetings {
                font-size: index.$roboto32;
            }

        }

        .header__figure {
            width: 45%;

            .header__img {
                width: 100%;
                display: block;
                object-fit: cover;
            }

        }

    }

}

.main {
    height: 500px;

    .about {

    }

}