@use "../variables/variables";
@use "../partials/colores";
@use "../partials/fonts";

@mixin setHTML {
    height: 100%;
}

@mixin setBody {
    min-height: 100vh;
    width: 100%;
    background-color: colores.$color-bgPrimario;
}

@mixin resetSettings {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@mixin setContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: variables.$paddingDesktop;
    overflow: hidden;
    outline: 2px solid red;
}

@mixin setNavContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    outline: 2px solid red;
}

@mixin setHeightMarginTop {
    min-height: calc(100vh - variables.$heightNavDesk);
    margin-top: variables.$heightNavDesk;
}

@mixin buttonEffect {
    animation: 1300ms efecto ease-in-out infinite alternate;

    @keyframes efecto {

        from {
            background-color: rgba(0, 255, 187, 0.5);
            box-shadow: 0 0 5px rgb(0, 255, 187);
        }

        to {
            background-color: rgba(0, 255, 187, 1);
            box-shadow: 0 0 20px rgb(0, 255, 187);
        }

    }

}

@mixin setTitle {
    color: colores.$primaryColor;
    font-size: fonts.$roboto24;
    font-weight: fonts.$robotoW400;
    margin-bottom: 20px;

    &::after {
        content: "";
        display: inline-block;
        width: 60px;
        height: 3px;
        margin: 0 0 5px 15px;
        background-color: colores.$primaryColor;
        border-radius: 5px;
    }

}

@mixin setSubTitle {
    font-size: fonts.$roboto32;
    font-weight: fonts.$robotoW500;
    margin-bottom: 30px;
}

@mixin setParagraph {
    font-size: fonts.$roboto16;
    font-weight: fonts.$robotoW400;
    line-height: 1.5;
}

@mixin colorCard($position, $color) {
    &:nth-child(#{$position}) {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 15px;
            background-color: $color;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0 0 10px 10px;
        }
    }
}

@mixin hoverCard {
    &:hover {
        background-color: colores.$primaryColor;
        color: black;
        transition: 400ms all ease-in-out;
    }
}

@mixin keyframeCard {
    animation: 1500ms moveImg infinite alternate ease-in-out;

    @keyframes moveImg {

        from {
            transform: translateY(-5px);
        }

        to {
            transform: translateY(5px);
        }

    }
}

@mixin moveArrow($lenStar, $lenEnd, $deg, $duration) {
    animation: $duration slideArrow infinite ease-in normal backwards;

    @keyframes slideArrow {
                        
        from {
            transform: translate($lenStar) rotate($deg);
        }

        to {
            transform: translate($lenEnd) rotate($deg);
        }

    }
}

@mixin moveArrowEven($lenStar, $lenEnd, $deg, $duration) {
    animation: $duration slideArrowEven infinite ease-in normal backwards;

    @keyframes slideArrowEven {
                        
        from {
            transform: translate($lenStar) rotate($deg);
        }

        to {
            transform: translate($lenEnd) rotate($deg);
        }

    }
}
