$header-bgColor: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
$bgGallery: linear-gradient(to top, #00c6fb 0%, #005bea 100%);

$primaryColor: #0fb;
$activeColor: #0ff;

$color-card-1: #00aeff;
$color-card-2: #e31f71;
$color-card-3: #8838b4;
$color-card-4: tomato;

//Paleta de colores
$color-bgCard: #3B3A54;
$color-bgSecundario: #6517CB;
$color-bgPrimario: #243567;
