@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

//font-family
$roboto: 'Roboto', sans-serif;

//font-size
$roboto64: 64px;
$roboto46: 46px;
$roboto32: 32px;
$roboto24: 24px;
$roboto16: 16px;
$roboto14: 14px;

//font-weight
$robotoW300: 300;
$robotoW400: 400;
$robotoW500: 500;
$robotoW700: 700;
